<%= stylesheet_link_tag 'result', :media => "all" %>

<header>
</header>
<section id="first-block">
  2024.X.X フットサル試合結果
</section>

<div class="game-day">
  
</div>

<section id="second-block">
    <div class="game-list2">
      <a href="#">リーグ1試合結果</a>
      <div class="dropdown__lists2">
        <div class="dropdown__list">Aチーム 1-0 Bチーム</div>
        <div class="dropdown__list">Cチーム 1-0 Dチーム</div>
        <div class="dropdown__list">Aチーム 1-0 Cチーム</div>
        <div class="dropdown__list">Bチーム 1-0 Dチーム</div>
        <div class="dropdown__list">Aチーム 1-0 Dチーム</div>
        <div class="dropdown__list">Bチーム 1-0 Cチーム</div>
      </div>
    </div>

    <table class="table">
        <tr class="team2">
          <th>チーム名</th>
          <th>Aチーム</th>
          <th>Bチーム</th>
          <th>Cチーム</th>
          <th>Dチーム</th>
          <th>勝敗</th>
          <th>順位</th>
        </tr>
        <tr>
          <td class="team2">Aチーム</td>
          <td class="slash"></td>
          <td class="win">1-0</td>
          <td class="win">1-0</td>
          <td class="win">1-0</td>
          <td class="total">3勝0敗</td>
          <td class="total">1位</td>
        </tr> 
        <tr>
          <td class="team2">Bチーム</td>
          <td>0-1</td>
          <td class="slash"></td>
          <td class="win">1-0</td>
          <td class="win">1-0</td>
          <td class="total">2勝1敗</td>
          <td class="total">2位</td>
        </tr>
        <tr>
            <td class="team2">Cチーム</td>
            <td>0-1</td>
            <td>0-1</td>
            <td class="slash"></td>
            <td class="win">1-0</td>
            <td class="total">1勝2敗</td>
            <td class="total">3位</td>
        </tr>
        <tr>
            <td class="team2">Dチーム</td>
            <td>0-1</td>
            <td>0-1</td>
            <td>0-1</td>
            <td class="slash"></td>
            <td class="total">0勝3敗</td>
            <td class="total">4位</td>
        </tr>
    </table>
</section>

<section id="second-block">
  <div class="game-list2">
      <a href="#">リーグ2試合結果</a>
      <div class="dropdown__lists2">
        <div class="dropdown__list">Eチーム 1-0 Fチーム</div>
        <div class="dropdown__list">Gチーム 1-0 Hチーム</div>
        <div class="dropdown__list">Eチーム 1-0 Gチーム</div>
        <div class="dropdown__list">Fチーム 1-0 Hチーム</div>
        <div class="dropdown__list">Eチーム 1-0 Hチーム</div>
        <div class="dropdown__list">Fチーム 1-0 Gチーム</div>
      </div>
  </div>

  <table class="table">
    <tr class="team2">
      <th>チーム名</th>
      <th>Dチーム</th>
      <th>Eチーム</th>
      <th>Fチーム</th>
      <th>Gチーム</th>
      <th>勝敗</th>
      <th>順位</th>
    </tr>
    <tr>
      <td class="team2">Dチーム</td>
      <td class="slash"></td>
      <td class="win">1-0</td>
      <td class="win">1-0</td>
      <td class="win">1-0</td>
      <td class="total">3勝0敗</td>
      <td class="total">1位</td>
    </tr> 
    <tr>
      <td class="team2">Eチーム</td>
      <td>0-1</td>
      <td class="slash"></td>
      <td class="win">1-0</td>
      <td class="win">1-0</td>
      <td class="total">2勝1敗</td>
      <td class="total">2位</td>
    </tr>
    <tr>
        <td class="team2">Fチーム</td>
        <td>0-1</td>
        <td>0-1</td>
        <td class="slash"></td>
        <td class="win">1-0</td>
        <td class="total">1勝2敗</td>
        <td class="total">3位</td>
    </tr>
    <tr>
        <td class="team2">Gチーム</td>
        <td>0-1</td>
        <td>0-1</td>
        <td>0-1</td>
        <td class="slash"></td>
        <td class="total">0勝3敗</td>
        <td class="total">4位</td>
    </tr>
  </table>
</section>

<section id="forth-block">
  <div class="game-list2">
    <a href="#">下位トーナメント</a>
    <div class="dropdown__lists2">
      <div class="dropdown__list">Cチーム 1-0 Hチーム</div>
      <div class="dropdown__list">Gチーム 0-1 Dチーム</div>
      <div class="dropdown__list">３位決定戦</div>
      <div class="dropdown__list">Gチーム 1-0 Hチーム</div>
      <div class="dropdown__list">決勝戦</div>
      <div class="dropdown__list">Cチーム 1-0 Dチーム</div>
    </div>
  </div>
  <table class="tournament" cellpadding="0" cellspacing="0">
    <tr>
      <td rowspan="2" class="winner">Cチーム</td>
      <td class="no-line"> </td>
      <td class="no-line"> </td>
      <td class="no-line"> </td>
      <td class="no-line"> </td>
      <td rowspan="2">Gチーム</td>
    </tr>
    <tr>
      <td class="top-right-line-winner"> </td>
      <td> </td>
      <td> </td>
      <td class="top-left-line"> </td>
    </tr>
    <tr>
      <td> </td>
      <td class="right-line-winner"> </td>
      <td class="bottom-right-line-winner"> </td>
      <td class="bottom-line"> </td>
      <td class="left-line"> </td>
      <td> </td>
    </tr>
    <tr>
      <td> </td>
      <td class="right-line"> </td>
      <td> </td>
      <td> </td>
      <td class="left-line-winner"> </td>
      <td> </td>
    </tr> 
    <tr>
      <td rowspan="2">Hチーム</td>
      <td class="bottom-right-line"> </td>
      <td> </td>
      <td> </td>
      <td class="bottom-left-line-winner"> </td>
      <td rowspan="2">Dチーム</td>
    </tr>
    <tr>  
      <td class="no-line"> </td>
      <td class="no-line"> </td>
      <td class="no-line"> </td>
      <td class="no-line"> </td> 
    </tr>
  </table>
</section>

<section id="fifth-block">
  <div class="game-list2">
    <a href="#">決勝トーナメント</a>
    <div class="dropdown__lists2">
      <div class="dropdown__list">Aチーム 1-0 Fチーム</div>
      <div class="dropdown__list">Eチーム 0-1 Bチーム</div>
      <div class="dropdown__list">3位決定戦</div>
      <div class="dropdown__list">Eチーム 1-0 Fチーム</div>
      <div class="dropdown__list">決勝戦</div>
      <div class="dropdown__list">Aチーム 1-0 Bチーム</div>
    </div>
  </div>
  <table class="tournament" cellpadding="0" cellspacing="0">
  <tr>
    <td rowspan="2" class="winner">Aチーム</td>
    <td class="no-line"> </td>
    <td class="no-line"> </td>
    <td class="no-line"> </td>
    <td class="no-line"> </td>
    <td rowspan="2">Bチーム</td>
  </tr>
  <tr>
    <td class="top-right-line-winner"> </td>
    <td> </td>
    <td> </td>
    <td class="top-left-line"> </td>
  </tr>
  <tr>
    <td> </td>
    <td class="right-line-winner"> </td>
    <td class="bottom-right-line-winner"> </td>
    <td class="bottom-line"> </td>
    <td class="left-line"> </td>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
    <td class="right-line"> </td>
    <td> </td>
    <td> </td>
    <td class="left-line-winner"> </td>
    <td> </td>
  </tr> 
  <tr>
    <td rowspan="2">Eチーム</td>
    <td class="bottom-right-line"> </td>
    <td> </td>
    <td> </td>
    <td class="bottom-left-line-winner"> </td>
    <td rowspan="2">Dチーム</td>
  </tr>
  <tr>  
    <td class="no-line"> </td>
    <td class="no-line"> </td>
    <td class="no-line"> </td>
    <td class="no-line"> </td> 
  </tr>
  </table>
</section>

<section id="sixth-block">
      <div class="game-list">
        <a href="#">結果発表</a>
        <div class="dropdown__lists">
          <div class="dropdown__list2">1位 Aチーム</div>
          <div class="dropdown__list2">2位 Bチーム</div>
          <div class="dropdown__list2">3位 Eチーム</div>
        </div>
      </div>
</section>

<section id="seventh-block">
  <div class="blue">
    <%= link_to 'トップページ', :controller => "top", :action => "index" %>
  </div>
  <div class="blue">
    <%= link_to '次の試合へ', :controller =>"schedule",:action =>"result20240304" %>
  </div>
</section>
  
</body>


</html>